*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wrapper{
    width: 98%;
    max-width: 1400px;
    margin: 0 auto;
    height: 100%;
}

/*Navigation*/
nav{
    height: 75px;
    z-index: 1;
}
#logo{
    float: right;
    width: 221px;
    height: 75px;
}
#menu{
    font-size: 110%;
    letter-spacing: 3px;
}
#menu a{
    display: block;
    text-decoration: none;
    text-align: center;
    color:black;
    margin-top: 8px;
    padding: 16px 30px;
    font-weight: 600;
}
.active{
    background-color:#63b0a61a;
    border: 1px solid #63b0a6;
    border-radius: 12px;
}
#menu > li{float: left;}
#menu a:hover{color: #1e9989;}
#hamburger{display: none;}
i{visibility: hidden;}

/*Universal Styles*/
main{margin-top: 10px;}
h1{
    font-size:130%;
    color: #1e9989;
    letter-spacing: 1px;
    margin: 10px 0 0 10px;
    padding-right: 30px; 
}
h2{
    font-size:110%;
    color: #1e9989;
    letter-spacing: 1px;
    margin: 10px 0 0 10px;
    padding-right: 30px;  
}
p{
    margin:10px 0px 20px 10px;
    letter-spacing: .5px;
    padding-right: 30px ;
}
strong{font-weight: 600;}
.chunk{
    width: 100%;
    font-size: 110%;
    background-color: #63b0a603;
    border-radius: 10px;
    margin-bottom: 20px;   
}
.chunk > ul{margin: 0 0 5px 10px;}
.chunk > ul > li{margin-bottom: 5px;}

.left-column, .right-column{
    width: 49%;
    display: inline-block;
}
.left-column > div > ul{
    list-style: disc;
    margin-left: 30px;
}
.right-column{float: right;}
   
/*Covid 19 Introduction Box*/
#covid-notice{
    border: 1px solid#1e9989;
    width: 94%;
    margin-right: 20px;
}
#covid-notice > h2{margin: 5px 0 10px 10px;}
#covid-notice > p{margin:10px 0px 10px 10px;}

/*Images*/
#hero-image{column-count: 3;}
#primary{background: url(../images/primary-hero-img.jpg) no-repeat center center;}
#secondary{background: url(../images/secondary-hero-img.jpg) no-repeat center center;}
#tertiary{background: url(../images/tertiary-hero-img.jpg) no-repeat center center;}
#primary, #secondary, #tertiary{
    height:300px;
    background-size: cover;
    border-radius: 10px;
}
#headshot{
    width: 85%;
    margin-left: 12.5%;
    margin-top: 20px;
    border-radius: 10px;
}
#practice{
    background: url(../images/duncan-treatment-room.jpg) no-repeat center center;
    width: 80%;
    height: 400px;
    margin-left: 50px;
}

/*Home Page settings*/
#covid-text{
    text-align: center;
    font-size: 120%;
    font-weight: 500;
    color: #636363;
    margin: 10px 0;
    padding:6px;
    border: 1px dotted #63b0a6;
    border-radius: 10px;  
}
#buttons{
    float: none;
    position: relative;
    bottom:60px;
}
.button{
    width: 80%;
    height: 100px;
    margin-left: 15%;
    margin-bottom: 25px;
    background-color: #63b0a60d;
    border: 2px solid #63b0a6;
    border-radius: 50px;

    font-size: 130%;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

/*Button Animations*/
.button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button span:after{
    content: '\00bb';
    font-size: 150%;
    position: absolute;
    opacity: 0;
    top: -3px;
    right:-40px;
    transition: 0.5s;
}
.button:hover span{padding-right: 25px;}
.button:hover span:after{
    opacity: 1;
    right: 0;
}
.button a:link{
    color: black;
    text-decoration: none;
}
.button a:visited{color: black;}
.button a:hover{color :#1e9989;}

/*Contact page*/
iframe{
    width: 100%;
    height: 475px;
}
#contact-info{
    margin-left: 30px;
}
#contact-info p{
    margin: 5px 10px;
}
table{
    font-size: 110%;
    margin: 10px 0 10px 9px;
}
th{
    float: left;
    margin-right: 20px;
}

/*Popup Form*/
.overlay{
    position: fixed;
    top: 160px;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 0.6s;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    margin: 0 auto;
    padding: 20px;
    background: #f3fcfb;
    border: 2px solid #63b0a6;
    border-radius: 10px;
    width: 500px;
    position: relative;
}
.popup .close {
    position: absolute;
    top: 0px;
    right: 10px;
    transition: all 0.4s;
    font-size: 250%;
    font-weight: bold;
    text-decoration: none;
}
.popup .close:hover {color: #1e9989;}
.select-time{
    width: 99%;
    padding: 6px 0.5%;
    margin: 4px 0.5%;
    border: 1px solid #63b0a6;
    border-radius: 6px;
    font-size: 110%;
}

/*Footer*/
footer{
    height: 100px;
    background-color: #63b0a640;
    border-radius: 10px;
    border: 1px solid #63b0a6;
    display: flex;
    margin-top: 10px;
}
.footer-section{
    width: 30%;
    height: 75px;
    margin-top: 10px;
    padding-left: 4px;    
}
.footer-section p{
    margin: 4px;
}
#gcc{
    background: url(../images/gcc-registered.png) no-repeat center center;
    width:20%;/*152 native*/
    height: 75px;/*50 native*/
}
#bca{
    background: url(../images/bca-registered.png) no-repeat center center;
    width:20%;/*122 native*/
    height:75px;/*52 native*/
}
#drop-down{margin-top: 200px;}

/*Form*/
form{
    max-width: 900px;
    margin: 5px auto;
    border-radius: 20px;
}
form > div > p{
    margin: 0;
}
.background-and-offsets{
    background-color: #63b0a60d;
    border: 1px solid #63b0a6;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
}
label{
    font-size: 100%;
    font-weight: 600;
    margin: 0.5%;
}
input[type=text], input[type=email]{
    width: 98%;
    padding: 6px 0.5%;
    margin: 4px 0.5%;
    border: 1px solid #63b0a6;
    border-radius: 6px;
    font-size: 110%;
}
input[type=date], input[type=time]{
    width: 97%;
    padding: 6px 0.5%;
    margin-left: 1%;
    border: 1px solid #63b0a6;
    border-radius: 6px;
    font-size: 110%;
}
select{
    float: right;
    border: 1px solid #63b0a6;
    border-radius: 5px;
    margin:2px;
    width:45%;    
}
#gp-consent{
    text-align: center;
    font-size:120%
}
#checkboxes div{
    display:inline-block;
    width: 24.5%;
}
#checkboxes > p{margin: 10px;}
div ul{list-style: none;}
#left-side, #right-side{
    display: inline-block;  
    width: 46%;
    background-color: #63b0a60d;
}
#left-side > div{display:inline-block;}
#right-side{float: right;}
.checkbox-heading{
    width:40%;
    margin-right: 20px;
}
.checkboxes{width: 10%;}
.radio-heading{width:80%;}
.radioboxes{width: 14%;}
.checkbox-title{
    font-size: 90%;
    font-weight: 300;
}
input[type=checkbox]{
    width: 30px;
    height: 14px;
}
input[type=submit] {
    margin-left:1%;
    width: 98%;
    /*margin: 5px auto;*/
    text-align: center;
    font-size: 150%;
    background-color: #63b0a60d;
    color: black;
    border-radius: 10px;
    border: 1px solid #63b0a6;
    padding: 5px;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}
legend{margin: 0px 0 5px 8px;}
fieldset legend h2, fieldset legend h1{
    margin-left: -5px;
    margin-top: -2px;
}
.have-you-ever p, .have-you-ever label{
    display: inline-block;
    margin: 0;
    padding: 1px;
}
.date-of-last label{
    float: left;
    width:50%;
}

/*Screen sizes under 1300px width*/
@media screen and (max-width: 1300px) {
    #menu{
        font-size: 100%;
        letter-spacing: 2px;
    }
    #menu a{
        margin-top: 9px;
        padding: 18px 20px;
    }
    #left-side, #right-side{
        max-width: 900px;
        margin: 10px;
    }
    .footer-section p{
        font-size: 90%;
    }
}

/*Screen sizes under 1050px width*/
@media screen and (max-width: 1050px) {
    .home-content{width: 99%;}
    .left-column, .right-column{width: 100%;}
    #text-block{width: 100%;}
    .button{
        position: static;
        font-size: 120%;
        font-weight: 600;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
        vertical-align: middle;
        line-height: 100px;
    }
    #headshot{margin-left: 5%;}
    iframe{
        width: 92.5%;
        margin-left: 5%;
    }
    #covid-notice{width: 100%;}
    #right-side{float: none;}
    #left-side, #right-side{width: 96%;}
    #buttons{bottom:0px;}
    #checkboxes div{width: 49%;}    
    #logo{
        float: none;
        position: absolute;
        margin-left: 50%;
        left: -110px;
        top: 0px;
    }
    i{
        visibility: visible;
        display: block;
        position: absolute;
        font-size: 200%;
        color: #636363;
        right:20px;
        top:21px;
        cursor: pointer;
    }
    .footer-section{
        width: 35%;
    }
    footer{
        height: 100px;
        width: 100%;
        margin-bottom:10px;
    }
    input[type=submit] {
        margin-left:2%;
        width: 96%;
    }
    #hero-img{column-count: 2;}
    #primary, #secondary, #tertiary{
        height:200px;
        background-size: cover;
        border-radius: 10px;
    }

    /*Hamburger Menu*/
    #menu-toggle input{
        display: block;
        position: relative;
        width: 40px;
        height: 32px;
        top:21px;
        left: 6px;
        cursor: pointer;
        opacity: 0;/*enable to see if in the correct position*/
        z-index: 2;
    }
    #menu-toggle span{
        display: block;
        position: relative;
        bottom:6px;
        width: 32px;
        height: 4px;
        left: 10px;
        margin-bottom: 5px;
        background-color: #636363;
        border-radius: 4px;
        z-index: 1;
        transform-origin: center;
        transition: transform 0.3s,
                    opacity 0.2s ease;
    }
    #menu-toggle input:checked ~ span{
        opacity: 1;
        transform: rotate(45deg) translate(6px, 6px);
    } 
    #menu-toggle input:checked ~ span:nth-child(3){
        opacity: 0;
        transform: rotate(0deg) scale(0.2,0.2);
    }
    #menu-toggle input:checked ~ span:nth-child(4){
        transform: rotate(-45deg) translate(7px, -7px);
    }
    #menu-toggle input:checked ~ ul{transform: none;}
    #menu{display: none;}
    #menu-toggle > input:checked ~ #menu{
        display: block;
        margin-top: 24px;
        background-color: #bbd8d5;
        border:2px solid #7ac5bb;   
        width: 97.5%;     
        position: absolute;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        font-size: 110%;
        letter-spacing: 3px;
        border-radius: 10px;
    }
    #menu a{margin-top: 0px;}
    #menu > li{width: 100%;}
    .active{
        background-color:#63b0a63f;
        border-radius: 10px;
        border: none;
    }
    #menu a:hover{
        background-color: #aed3cf;
        border-radius: 10px;
    }
    #hero-image{column-count: 2;}
    #drop-down{margin-top: 10px;}

    /*Screen sizes under 800px width*/
    @media screen and (max-width: 800px) {
        .popup{width: 87%;}
        .overlay{top: 80px;}
        #checkboxes div{
            width: 99%;
            margin-left: 10px;
        }
        #checkboxes div ul li{font-size: 110%;}
        .checkbox-heading{width: 45%;}
        .footer-section{
            width: 100%;
            height: 60px;
        }
        #gcc, #bca{
            width: 49%;
            height: 52px;
        }
        #left-side, #right-side{width: 92%;}
        footer{
            flex-direction: column;
            height:300px;
        }
        #hero-image{column-count: 1;}
    }
}